# Python
__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
venv/
.env
env/
.venv/
*.pyc
.ipynb_checkpoints/

# Data / outputs / models
data/
outputs/
models/
wandb/
*.ckpt
*.pt
*.pth
*.h5

# OS
.DS_Store
*.swp