# Python
__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
venv/
.env
env/
.venv/
*.pyc
.ipynb_checkpoints/

# Data / outputs / models
evaluations/
rawdata/
checkpoints/
wandb/
*.ckpt
*.pt
*.pth
*.h5
*.log
data/
outputs/


# OS
.DS_Store
*.swp
